---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Features from "@/components/Features.astro";
import Quote from "@/components/Quote.astro";
import Services from "@/components/Services.astro";
import Testimonials from "@/components/Testimonials.tsx"
---

<Layout title="Welcome to Astro.">
  <main class="max-w-7xl mx-auto grid place-content-center">
    <!-- Hero section -->
    <section
      class="min-h-screen overflow-hidden rounded-b-sm border-b-2 border-gray-500"
    >
      <!-- bg -->
      <div
        class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
      >
        <div
          class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"
        >
        </div>
      </div>
      <!-- ----- -->

      <Hero />
    </section>

    <!-- features section -->
    <section class="min-h-screen grid place-content-center">
      <Features />
    </section>

    <!-- Quote section -->
    <section
      class="grid place-content-center bg-gradient-to-r from-neutral-50 via-purple-100 to-neutral-50 rounded-lg p-16 border border-gray-200"
    >
      <Quote />
    </section>

    <!-- Services section -->
    <section class="min-h-screen grid place-content-center pt-44">
      <Services />
    </section>

    <!-- Testimonials section -->
    <section class="min-h-screen grid place-content-center">
      <Testimonials client:load />
    </section>
  </main>
</Layout>
