---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { GearIcon } from "@radix-ui/react-icons";
---

<div class="grid grid-cols-3 gap-4">
  <!-- card 1 -->
  <Card>
    <CardHeader>
      <GearIcon />
      <CardTitle>Professionalism</CardTitle>
    </CardHeader>
    <CardContent>
      <p>
        We deliver high-quality, polished resumes that meet industry standards.
      </p>
    </CardContent>
  </Card>

  <!-- card 2 -->
  <Card>
    <CardHeader>
      <GearIcon className="text-7xl" />
      <CardTitle>Professionalism</CardTitle>
    </CardHeader>
    <CardContent>
      <p>
        We deliver high-quality, polished resumes that meet industry standards.
      </p>
    </CardContent>
  </Card>

  <!-- card 3 -->
  <Card>
    <CardHeader>
      <GearIcon />
      <CardTitle>Professionalism</CardTitle>
    </CardHeader>
    <CardContent>
      <p>
        We deliver high-quality, polished resumes that meet industry standards.
      </p>
    </CardContent>
  </Card>
</div>
